.users {
    display: grid;
    grid-template-columns: 300px; /* Single column */
    gap: 10px;
}

.blogs-created {
    text-align: right;
    margin-top: 0;
}

.user-list {
    display: grid;
    gap: 10px;
}

.user-item {
    display: grid;
    grid-template-columns: auto auto; /* Two columns: for user name and "blogs count" */
    gap: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}

.user-name {
    align-self: center;
}

.blogs-count {
    align-self: center;
    text-align: right;
}
