.App {
  text-align: center;
}

.notification {
  color: 'green',
	background: 'lightgrey',
	fontSize: 20,
	borderStyle: 'solid',
	borderRadius: 5,
	padding: 10,
	marginBottom: 10
}

.notification.error {
  color: 'red'
}
